<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072174433991-kepfnsujcara71qlkkqnr35sfrb6uep0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072174433991-kepfnsujcara71qlkkqnr35sfrb6uep0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1072174433991-5f5a9geeo7s04ba7324l9t6jrtabml76.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBmclsXBR5erLH-aAOPRNJWje0f3rXOO6I</string>
	<key>GCM_SENDER_ID</key>
	<string>1072174433991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-db29d</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-db29d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072174433991:ios:1f82ca61e929a35c2260e2</string>
</dict>
</plist>